<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsForm.value.login">
        إعدادات المستخدم ل [<strong>{{ settingsForm.value.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>تم حفظ الاعدادات!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
        <div class="mb-3">
          <label class="form-label" for="firstName">الاسم الاول</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="اسمك الأول"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required"> مطلوب اسمك الأول. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              مطلوب اسمك الأول أن يكون على الأقل 1 حرف
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              لا يمكن أن يكون الاسم الأول اكثر من 50 حرفا
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="lastName">اللقب</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="لقبك"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required"> مطلوب لقبك. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              مطلوب اسم عائلتك ليكون على الأقل 1 حرف
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              لا يمكن أن يكون اسم العائلة اكثر من 50 حرفا
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">البريد الإلكتروني</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="بريدك الالكتروني"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required">
              البريد الإلكتروني الخاصة بك مطلوب.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> بريدك الالكتروني خاطئ. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              البريد اﻹلكتروني لا يمكن أن يكون اقل 4 احرف.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              البريد اﻹلكتروني لا يمكن أن يكون اكثر من 50 حرفا.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">حفظ</button>
      </form>
    </div>
  </div>
</div>
