<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contestform">
      <h2 data-cy="contestformDetailsHeading"><span>Contestform</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contestform.id }}</span>
        </dd>
        <dt><span>Firstname</span></dt>
        <dd>
          <span>{{ contestform.firstname }}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
          <span>{{ contestform.lastname }}</span>
        </dd>
        <dt><span>Birthdate</span></dt>
        <dd>
          <span>{{ contestform.birthdate | formatMediumDate }}</span>
        </dd>
        <dt><span>Contest</span></dt>
        <dd>
          <div *ngIf="contestform.contest">
            <a [routerLink]="['/contest', contestform.contest.id, 'view']">{{ contestform.contest.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span>
      </button>

      <button type="button" [routerLink]="['/contestform', contestform.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
