<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>اعادة ضبط كلمة السر</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">مفتاح إعادة الضبط مفقود.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>اختر كلمة مرور جديدة</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>كلمة السر لا يمكن إعادة ضبطها. تذكر طلب كلمة المرور صالح فقط لمدة 24 ساعة.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>تم إعادة ضبط كلمة المرور الخاصة بك.</strong> من فضلك </span>
        <a class="alert-link" routerLink="/login">تسجل دخولك</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">كلمة السر وتأكيدها لا تتطابق!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">كلمة السر الجديدة</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="كلمة السر الجديدة"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                كلمة المرور الخاصة بك مطلوبة.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                كلمة السر لا يمكن أن تكون اقل 4 احرف.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                كلمة السر لا يمكن أن تكون اكثر من 50 حرفا.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">تأكيد كلمة السر الجديدة</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="تأكيد كلمة السر الجديدة"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                تأكيد كلمة المرور الخاصة بك مطلوب.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                تأكيد كلمة السر لا يمكن أن يكون اقل 4 احرف.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                تأكيد كلمة السر لا يمكن أن يكون اكثر من 50 حرفا.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            تحقق من صحة كلمة المرور الجديدة
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
