<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>أهلا وسهلا بك، جافا هبستر!</span> (Soretrasdb)</h1>

    <p class="lead">هذه صفحتك الرئيسية</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">قمت بتسجيل الدخول كمستخدم "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>إذا اردت أن </span>
        <a class="alert-link" (click)="login()">تسجل دخولك</a
        ><span
          >, يمكنك تجربة الحسابات التجريبية:<br />- المدير (login="admin" و كلمة المرور="admin") <br />- المستخدم (login="user" و كلمة
          المرور="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>لا تملك حسابا حتى الآن؟</span>&nbsp;
        <a class="alert-link" routerLink="account/register">تسجيل حساب جديد</a>
      </div>
    </div>

    <p>إذا كان لديك أي سؤال حول JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>إذا كنت تحب JHipster، لا تنسى أن تعطي لنا نجم على</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>
</div>
