<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contest-heading" data-cy="ContestCreateUpdateHeading">Create or edit a Contest</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> هذا الحقل مطلوب. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_begindate">Begindate</label>
          <div class="input-group">
            <input
              id="field_begindate"
              data-cy="begindate"
              type="text"
              class="form-control"
              name="begindate"
              ngbDatepicker
              #begindateDp="ngbDatepicker"
              formControlName="begindate"
            />
            <button type="button" class="btn btn-secondary" (click)="begindateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_enddate">Enddate</label>
          <div class="input-group">
            <input
              id="field_enddate"
              data-cy="enddate"
              type="text"
              class="form-control"
              name="enddate"
              ngbDatepicker
              #enddateDp="ngbDatepicker"
              formControlName="enddate"
            />
            <button type="button" class="btn btn-secondary" (click)="enddateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_level">Level</label>
          <select class="form-control" name="level" formControlName="level" id="field_level" data-cy="level">
            <option [ngValue]="null"></option>
            <option *ngFor="let elevel of elevelValues" [value]="elevel">elevel</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
