<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span>مستخدم</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span>تسجيل الدخول</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success">مفعل</span>
          <span *ngIf="!user.activated" class="badge bg-danger">غير مفعل</span>
        </dd>

        <dt><span>الاسم الاول</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>اللقب</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>البريد الإلكتروني</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>تم إنشاؤها بواسطة</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span>تاريخ الإنشاء</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>عدل من قبل</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>تاريخ التعديل</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>الملفات الشخصية</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span></button>
    </div>
  </div>
</div>
